<div class="row">
  <div class="col-md-12">


    <% flash.get('mensaje').forEach(function (msg) { %>
    <div class="alert alert-success" role="alert">
      <%=msg%>
    </div>
    <% }) %>

    <h2>Admin - Cliente</h2>

    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>email</th>
          <th>activa</th>
          <th>acción</th>
        </tr>
      </thead>
      <tbody>
        <% admin.forEach( admin => { %>
          <tr>
            <td><%=admin.id%></td>
            <td><%=admin.nombre%></td>
            <td><%=admin.email%></td>            
            <td><%=admin.activa ? "Si" : "No"%></td>
            <td>
              <% if (admin.activa) { %>
              <a href="/admin/desactivar-admin/<%=admin.id%>" class="btn btn-info">Desactivar Administrador</a>
              <% } else { %>
              <a href="/admin/activar-admin/<%=admin.id%>" class="btn btn-primary">Activar Administrador</a>
              <% } %>
            </td>           
          </tr>
        <% }) %>
      </tbody>
    </table>


  </div>

</div>
